


<center>

    <br />
    <br />
    <form class="form-group" method="post">
        <div>
            <label>Patient Name</label>
            <input type="text" class="form-control" name="patientName"
        </div>
        <div>
            <label>Patient Surname</label>
            <input type="text" class="form-control" name="patientSurname"
        </div>
        <div>
            <label>Patient Number </label>
            <input type="text" class="form-control" name="phoneNumber"
        </div>
        <div>
            <label>E Mail</label>
            <input type="text" class="form-control" name="e_mail"
        </div>
        <div>
            <label>Patient Password</label>
            <input type="text" class="form-control" name="patientPassword"
        </div>



        <div style="margin-top:15px">
            <button class="btn btn-info">Register</button>
        </div>

    </form>




</center>
