<!DOCTYPE html>
<html>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">DEU HOSPITAL</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/DoctorAppointments/Index/">Appointments</a></li>
                        <li><a href="/DoctorContact/Index/">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <br />
                        @using (Html.BeginForm("Logout", "DoctorLogin", FormMethod.Post))
                        {

                            <input type="submit" value="LOGOUT" />
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <br />
    <br />

    <center>
        <form class="form-group" method="post">
            <div>
                <label>Sender ID</label>
                <input type="text" class="form-control" name="senderID"
            </div>
            <div>
                <label>Receiver ID</label>
                <input type="text" class="form-control" name="receiverID"
            </div>
            <div>
                <label>Sender Name </label>
                <input type="text" class="form-control" name="senderName"
            </div>
            <div>
                <label>Sender Surname</label>
                <input type="text" class="form-control" name="senderSurname"
            </div>
            <div>
                <label>Receiver Name</label>
                <input type="text" class="form-control" name="receiverName"
            </div>
            <div>
                <label>Receiver Surname</label>
                <input type="text" class="form-control" name="receiverSurname"
            </div>
            <div>
                <label>Message Content</label>
                <input type="text" class="form-control" name="messageContent"
            </div>
            <div>
                <label>Message Date</label>
                <input type="text" class="form-control" name="messageDate"
            </div>
            <div>
                <label>Message Hour</label>
                <input type="text" class="form-control" name="messageHour"
            </div>


            <div style="margin-top:15px">
                <button class="btn btn-info">Add Message</button>
            </div>

        </form>



    </center>

</body>
</html>