<!DOCTYPE html>
<html>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">DEU HOSPITAL</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">Doctors</a></li>
                        <li><a href="#">Patients</a></li>
                        <li><a href="#">Appointment</a></li>
                        <li><a href="#">Feedback</a></li>
                        <% String var1 = GlobalVariables.MyGlobalVariable; %>
                        <li><a href="#"><%=var1%></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <br />
                        @using (Html.BeginForm("Logout", "AdminLogin", FormMethod.Post))
                        {

                            <input type="submit" value="LOGOUT" />
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <br />
    <br />

    <center>



        <form class="form-group" method="post">
            <div>
                <label>Doctor Name</label>
                <input type="text" class="form-control" name="doctorName"
            </div>
            <div>
                <label>Doctor Surname</label>
                <input type="text" class="form-control" name="doctorSurname"
            </div>
            <div>
                <label>Phone Number </label>
                <input type="text" class="form-control" name="phoneNumber"
            </div>
            <div>
                <label>E Mail</label>
                <input type="text" class="form-control" name="e_mail"
            </div>
            <div>
                <label>Doctor Password</label>
                <input type="text" class="form-control" name="doctorPassword"
            </div>
            <div>
                <label>Department</label>
                <input type="text" class="form-control" name="department"
            </div>
            <div>
                <label>Biography</label>
                <input type="text" class="form-control" name="biography"
            </div>


            <div style="margin-top:15px">
                <button class="btn btn-info">ADD DOCTOR</button>
            </div>

    </center>

    </form>


