

<br />
<br />
<html>
<head>
    <title> DEU Hospital </title>
    <style type="text/css">
        body {
            background-image: url("bg.jpg");
            background-size: cover;
        }

        #metin {
            text-align: justify;
            height: cover;
            width: 1000px;
            word-wrap: break-word;
            margin: 0px auto;
            background: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            border-style: solid;
            border-width: 2px;
            border-color: #8fc1da;
            line-height: 200%
        }
    </style>
</head>
<body>
    <div id="metin">
      
        <center><h1 style="font-family:Trebuchet MS;font-size:48px;18px;color:#328bbd;"> ABOUT </font><font style="font-family:Trebuchet MS;font-size:48px;18px;color:#e80729;">DEU HOSPITAL</font></font></h1></center>
        <font style="font-family:Arial;font-size:18px;color:#black;">
            DEU Hospital incorporates many specialized units with its technical infrastructure,
            medical technology, expert healthcare professionals in all branches and a multidisciplinary approach. Many specialized units from Oncology to
            Brain Surgery, Organ Transplantation to Robotic Surgery are located.
            <center><img src="~/Images/hospital.jpg" ></center>
            <p>
                <font style="font-family:Arial;font-size:18px;color:#54a24b;">Departments</font>
                <br>● Internal medicine
                <br>● Otolaryngology
                <br>● Neurology
                <br>● Dermatology
                <br>● Psychiatry
                <br>● Physiotheraphy
                <br>● Gynecology
                <br>● Covid-19
                <br>● Cardiology
</font>
    </div>
</body>
</html>
